/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.travel{
    &__inner{
        padding: 50px 150px;
    }
}

.popular {
    // 600up.scssにてjustify-content: space-between;としている
    &__item{
        flex-basis: 23%;  //余白８％
    }
}

.side {
    display: block;
}